.center-top {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:85%;
}
.body{
    background-image: linear-gradient(30deg, aqua, white, orange, violet);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2cm;
    padding-right:2cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.body h2{
    font-size:45px;
    text-align: center;
    font-style: italic;
    border-style: outset;
    border-color: bisque;
    background-color: aquamarine;
}
.body p{
    color: darkslateblue;
    text-align:center;
    font-size: 25px;
}
.body .table
{
    width: 60%;
}

.body .table td{
    font-size:25px;
    border: 5px solid aliceblue;
    text-align: center;
    border-collapse: collapse;
}
.body .chronology{
    font-size:30px;
    font-style: italic;
    text-decoration: underline solid slateblue;
}

.body .right
{
    width:35%;
    float:right;
    padding-left: 1cm;
    padding-top: 1cm;
    
}
